#login-form {
	max-width: 300px;
	margin: auto;
	margin-top: 150px;
}

.form-control {
	height: 46px;
}

#register {
	margin-top: 20px;
	text-decoration: underline;
}

#register a {
	text-decoration: underline;
}